test/source/carehub/main/default/flows/Close_All_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Case_Comment</name>
        <label>Add Case Comment</label>
        <locationX>931</locationX>
        <locationY>519</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exeption</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>caseCommentFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Close_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_New_Status</name>
        <label>Assign New Status</label>
        <locationX>931</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>Close_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClosedByDevice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Close_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertToCollecition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InsertToCollecition</name>
        <label>InsertToCollecition</label>
        <locationX>931</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>casesRecordsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Close_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Comment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>caseCommentFormula</name>
        <dataType>String</dataType>
        <expression>{!eventConfigurationRecord.Name}  &amp; &quot; Closed by Event Code &quot; &amp; TEXT({!eventConfigurationRecord.Code__c})</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Close All Related Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Close All Related Cases</label>
    <loops>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>662</locationX>
        <locationY>324</locationY>
        <collectionReference>caseRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CaseOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_All_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseOwner</name>
        <label>Case Owner</label>
        <locationX>800</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automated Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_All_Case</name>
        <label>Close All Case</label>
        <locationX>662</locationX>
        <locationY>544</locationY>
        <faultConnector>
            <targetReference>Log_Exeption</targetReference>
        </faultConnector>
        <inputReference>casesRecordsToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>88</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Exeption</name>
        <label>Log Exeption</label>
        <locationX>659</locationX>
        <locationY>765</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>casesRecordsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>eventConfigurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>Onwer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
