test/source/carehub/main/default/flows/Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_All_Open_Cases</name>
        <label>Get All Open Cases</label>
        <locationX>463</locationX>
        <locationY>384</locationY>
        <actionName>QueryCasesToCloseInSyntilioFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueryCasesToCloseInSyntilioFlow</nameSegment>
        <outputParameters>
            <assignToReference>caseRecordsCollection</assignToReference>
            <name>caseRecordsCollection</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>firstCaseRecordForSyntilioEventRecord</assignToReference>
            <name>firstCaseRecordForSyntilioEventRecord</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Case_Found</name>
        <label>Case Found?</label>
        <locationX>636</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Create_A_Manual_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Case_Found_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecordsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Syntilio_Event_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub Close Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Close Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Syntilio_Event_Record</name>
        <label>Update Syntilio Event Record</label>
        <locationX>785</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Close_All_Related_Cases_For_Event_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>syntilioEventRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>firstCaseRecordForSyntilioEventRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SyntilioEvent__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Get_All_Open_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_All_Related_Cases_For_Event_Code</name>
        <label>Close All Related Cases For Event Code</label>
        <locationX>943</locationX>
        <locationY>384</locationY>
        <flowName>Close_All_Cases</flowName>
        <inputAssignments>
            <name>caseRecordsCollection</name>
            <value>
                <elementReference>caseRecordsCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_A_Manual_Task</name>
        <label>Create A Manual Task</label>
        <locationX>643</locationX>
        <locationY>574</locationY>
        <flowName>Create_A_Manual_Task</flowName>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>783</locationX>
        <locationY>198</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountInternalSFIdForMainAssetVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allCasesRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>caseRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventConfigurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>firstCaseRecordForSyntilioEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>parentCaseSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>syntilioEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SyntilioEvent__c</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
