test/source/carehub/main/default/flows/Create_Update_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Case_Chatter</name>
        <label>Post To Case Chatter</label>
        <locationX>1756</locationX>
        <locationY>330</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Syntilio_Event_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>caseChatterMessageFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_If_Event_Should_Always_Create_New_Case</name>
        <label>Check If Event Should Always Create New Case</label>
        <locationX>837</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_RecordType_Case_Owner_Info_For_Reopen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Always Create - Normal Flow</defaultConnectorLabel>
        <rules>
            <name>Always_Create_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventConfigurationRecord.AlwaysCreateNewCase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseOwner</targetReference>
            </connector>
            <label>Always Create New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Has_Parent</name>
        <label>Event Has Parent?</label>
        <locationX>445</locationX>
        <locationY>979</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Cases_On_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Event_Has_Parent_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventConfigurationRecord.ParentCodeId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Cases_On_Parent_Code</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Case</name>
        <label>Found Case?</label>
        <locationX>835</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>Reopen_Case_Time_Exists_And_Has_Not_Elapsed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Case_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Cases_On_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Event_Should_Always_Create_New_Case</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Parent_Case</name>
        <label>Found Parent Case?</label>
        <locationX>665</locationX>
        <locationY>1341</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Cases_On_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Parent_Case_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Cases_On_Parent_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_RecordType_Case_Owner_Info_For_Parent_Creation</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Recent_Closed_Case_and_Time_Exists_And_Has_Not_Elapsed</name>
        <label>Found Recent Closed Case and Time Exists And Has Not Elapsed</label>
        <locationX>1480</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_RecordType_Case_Owner_Info_For_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did Not Found Recent Case Or Not Within Time</defaultConnectorLabel>
        <rules>
            <name>Found_Recent_Case_and_Within_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Case_to_Re_Open</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseClosedDateSF</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>beforeCurrentFlowTimeByXMinutesFromAppConifguration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_RecordType_Case_Owner_Info_For_Reopen</targetReference>
            </connector>
            <label>Found Recent Case and Within Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen_Case_Time_Exists_And_Has_Not_Elapsed</name>
        <label>Reopen Case Time Exists And Has Not Elapsed?</label>
        <locationX>1196</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_RecordType_Case_Owner_Info_For_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create a New Case</defaultConnectorLabel>
        <rules>
            <name>Reopen_Case_Time_Exists_And_Has_Not_Elapsed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventConfigurationRecord.ReopenCaseWithinXMinutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Case_to_Re_Open</targetReference>
            </connector>
            <label>Reopen Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>beforeCurrentFlowTimeByXMinutesFromAppConifguration</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT ISBLANK({!eventConfigurationRecord.Syntilio__ReopenCaseWithinXMinutes__c}) , {!$Flow.InterviewStartTime} - ({!eventConfigurationRecord.Syntilio__ReopenCaseWithinXMinutes__c}/1440), null)</expression>
    </formulas>
    <formulas>
        <name>caseChatterMessageFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Found_Case_True} ,&quot;Event code &quot; &amp; TEXT({!eventCode}) &amp; &quot; was received and found an already opened case.&quot;, IF({!Reopen_Case_Time_Exists_And_Has_Not_Elapsed_True}, &quot;Event code &quot; &amp; TEXT({!eventCode}) &amp; &quot; was received and case was re-opened.&quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>recordTypeIdFormulaFromAppConfiguration</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!eventConfigurationRecord.Category__c}, &quot;Medical&quot;) &amp;&amp; NOT ISBLANK({!appConfigurationMetadataRecord.MedicalCaseRecordTypeId__c}), {!appConfigurationMetadataRecord.MedicalCaseRecordTypeId__c}, IF(ISPICKVAL({!eventConfigurationRecord.Category__c}, &quot;Technical&quot;) &amp;&amp; NOT ISBLANK({!appConfigurationMetadataRecord.TechnicalCaseRecordTypeId__c}), {!appConfigurationMetadataRecord.TechnicalCaseRecordTypeId__c}, {!recordTypeInternalSFId} ))</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Create/Update Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Create/Update Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>1879</locationX>
        <locationY>971</locationY>
        <assignRecordIdToReference>caseSFInternalId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Syntilio_Event_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>assetDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eventConfigurationRecord.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>eventConfigurationRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerQueueVariableOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentAsset__c</field>
            <value>
                <elementReference>parentAssetInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentCaseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>productSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeIdFormulaFromAppConfiguration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>eventConfigurationRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>CaseOwner</name>
        <label>Case Owner</label>
        <locationX>1081</locationX>
        <locationY>593</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_Close_Already_Opened_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automated Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Case_to_Re_Open</name>
        <label>Get Most Recent Case to Re-Open</label>
        <locationX>1202</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Recent_Closed_Case_and_Time_Exists_And_Has_Not_Elapsed</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND ((5 AND 6) OR (7 AND 8))</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventConfigurationRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoClosed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClosedByDevice</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseClosedDateSF</assignToReference>
            <field>ClosedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseSFInternalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Cases_On_Code</name>
        <label>Get Open Cases On Code</label>
        <locationX>685</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Case</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 6) OR (7 AND 8))</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventConfigurationRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AutoClosed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ClosedByDevice</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseSFInternalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Cases_On_Parent_Code</name>
        <label>Get Open Cases On Parent Code</label>
        <locationX>452</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Parent_Case</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 6) OR (7 AND 8))</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventConfigurationRecord.ParentCodeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AutoClosed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ClosedByDevice</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>parentCaseSFInternalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Close_Already_Opened_Case</name>
        <label>Auto Close Already Opened Case</label>
        <locationX>1080</locationX>
        <locationY>769</locationY>
        <connector>
            <targetReference>Get_Queue_RecordType_Case_Owner_Info_For_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>AutoClosed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_or_Reopen_Same_Case</name>
        <label>Reassign or Reopen Same Case</label>
        <locationX>1319</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Post_To_Case_Chatter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerQueueVariableOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_Priority</name>
        <label>Update Case Record Priority</label>
        <locationX>1060</locationX>
        <locationY>1329</locationY>
        <connector>
            <targetReference>Get_Open_Cases_On_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCaseSFInternalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Syntilio_Event_Record</name>
        <label>Update Syntilio Event Record</label>
        <locationX>1881</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>GroupCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>syntilioEventRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <object>SyntilioEvent__c</object>
    </recordUpdates>
    <start>
        <locationX>328</locationX>
        <locationY>797</locationY>
        <connector>
            <targetReference>Event_Has_Parent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Queue_RecordType_Case_Owner_Info_For_Creation</name>
        <label>Get Queue - RecordType - Case Owner Info For Creation</label>
        <locationX>1491</locationX>
        <locationY>965</locationY>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <flowName>Queue_RecordType_Case_Owner_Assignments</flowName>
        <inputAssignments>
            <name>appConfigurationMetadataRecord</name>
            <value>
                <elementReference>appConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactInternalSFId</name>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseOwnerQueueVariableOutput</assignToReference>
            <name>caseOwnerQueueVariableOutput</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextQueueIdAfterWaiting</assignToReference>
            <name>nextQueueIdAfterWaiting</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueInternalSFId</assignToReference>
            <name>queueInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeInternalSFId</assignToReference>
            <name>recordTypeInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>waitingQueueuInternalSFId</assignToReference>
            <name>waitingQueueuInternalSFId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Queue_RecordType_Case_Owner_Info_For_Parent_Creation</name>
        <label>Get Queue - RecordType - Case Owner Info For Parent Creation</label>
        <locationX>910</locationX>
        <locationY>1335</locationY>
        <connector>
            <targetReference>Update_Case_Record_Priority</targetReference>
        </connector>
        <flowName>Queue_RecordType_Case_Owner_Assignments</flowName>
        <inputAssignments>
            <name>appConfigurationMetadataRecord</name>
            <value>
                <elementReference>appConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactInternalSFId</name>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseOwnerQueueVariableOutput</assignToReference>
            <name>caseOwnerQueueVariableOutput</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextQueueIdAfterWaiting</assignToReference>
            <name>nextQueueIdAfterWaiting</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueInternalSFId</assignToReference>
            <name>queueInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeInternalSFId</assignToReference>
            <name>recordTypeInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>waitingQueueuInternalSFId</assignToReference>
            <name>waitingQueueuInternalSFId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Queue_RecordType_Case_Owner_Info_For_Reopen</name>
        <label>Get Queue - RecordType - Case Owner Info For Reopen</label>
        <locationX>851</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Reassign_or_Reopen_Same_Case</targetReference>
        </connector>
        <flowName>Queue_RecordType_Case_Owner_Assignments</flowName>
        <inputAssignments>
            <name>appConfigurationMetadataRecord</name>
            <value>
                <elementReference>appConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactInternalSFId</name>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseOwnerQueueVariableOutput</assignToReference>
            <name>caseOwnerQueueVariableOutput</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextQueueIdAfterWaiting</assignToReference>
            <name>nextQueueIdAfterWaiting</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueInternalSFId</assignToReference>
            <name>queueInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeInternalSFId</assignToReference>
            <name>recordTypeInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>waitingQueueuInternalSFId</assignToReference>
            <name>waitingQueueuInternalSFId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GroupCase</name>
        <label>Group Case</label>
        <locationX>2086</locationX>
        <locationY>330</locationY>
        <flowName>Group_Case</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>2043</locationX>
        <locationY>830</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountInternalSFIdForMainAssetVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appConfigurationMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CareHubAppConfiguration__mdt</objectType>
    </variables>
    <variables>
        <name>assetDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>caseClosedDateSF</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOwnerQueueVariableOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOwnerSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseStatusSF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdCaseInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventConfigurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>nextQueueIdAfterWaiting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentAssetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCaseOwnerSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentCaseSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>syntilioEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SyntilioEvent__c</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>waitingQueueuInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
