test/source/carehub/main/default/flows/Event_Waiting_Time_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CheckOnCaseStatus</name>
        <label>Check On Case Status</label>
        <locationX>239</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaseGroup</targetReference>
            </connector>
            <label>Status Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>528</locationX>
        <locationY>264</locationY>
        <defaultConnectorLabel>do not wait</defaultConnectorLabel>
        <rules>
            <name>CheckWaitingTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventConfiguration.WaitingMinutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaitingCondition</targetReference>
            </connector>
            <label>wait</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>waitingOffset</name>
        <dataType>DateTime</dataType>
        <expression>({!eventConfiguration.WaitingMinutes__c} / 1440)  + DATETIMEVALUE(NOW())</expression>
    </formulas>
    <interviewLabel>Syntilio Carehub Waiting Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio Carehub Waiting Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseStatus</name>
        <label>Get Case Status</label>
        <locationX>434</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOnCaseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseSFId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateCaseGroup</name>
        <label>updateCaseGroup</label>
        <locationX>40</locationX>
        <locationY>450</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseSFId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>nextQueueIdAfterWaiting</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>nextQueueIdAfterWaiting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>WaitingCondition</name>
        <label>WaitingCondition</label>
        <locationX>663</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>ResumeOffset</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCaseStatus</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>waitingOffset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>ResumeOffset</label>
        </waitEvents>
    </waits>
</Flow>
