test/source/carehub/main/default/flows/Get_External_Systems_Appointments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Contact_Appointments</name>
        <label>Get Contact Appointments</label>
        <locationX>537</locationX>
        <locationY>355</locationY>
        <actionName>AppointmentHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromDate</name>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toDate</name>
            <value>
                <elementReference>To_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppointmentHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub Get External Systems Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Get External Systems Appointments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Get_External_System_Appointments</name>
        <label>Get External System Appointments</label>
        <locationX>535</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Appointments</targetReference>
        </connector>
        <fields>
            <name>From_Date</name>
            <dataType>Date</dataType>
            <fieldText>From</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_Date</name>
            <dataType>Date</dataType>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;From and To must be maximum 42 days apart.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(ISBLANK({!From_Date}), {!From_Date} + 42 &gt; {!To_Date})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_External_System_Appointments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
