test/source/carehub/main/default/flows/ParentAsset_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Asset_And_ParentAsset_Variables_Create_ParentAsset</name>
        <label>Assign Asset And Parent Asset Variables</label>
        <locationX>1005</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.ParentAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAssetInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.TimeStamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.AssetIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.SupplierEventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supplierEventCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Asset_And_ParentAsset_Variables_Found_ParentAsset</name>
        <label>Assign Asset And Parent Asset Variables</label>
        <locationX>1023</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.ParentAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAssetInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.TimeStamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.AssetIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.SupplierEventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supplierEventCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_ParentAsset_Record</name>
        <label>Found Parent Asset Record?</label>
        <locationX>595</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Create_ParentAsset_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_ParentAsset_Record_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ParentAsset_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_And_ParentAsset_Variables_Found_ParentAsset</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>parentAssetNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Requires Validation - Asset&apos; + &apos; &apos; + {!parentAssetId}</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Parent Asset Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Parent Asset Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ParentAsset_Record</name>
        <label>Create Parent Asset Record</label>
        <locationX>606</locationX>
        <locationY>769</locationY>
        <assignRecordIdToReference>parentAssetInternalSFId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Asset_With_Parent_Asset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId__c</field>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This asset has been automatically generated based on the incoming event.and needs manual intervention forvalidation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>parentAssetNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ParentAsset_Record</name>
        <label>Get Parent Asset Record</label>
        <locationX>462</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ParentAsset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>parentAssetInternalSFId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_With_Parent_Asset</name>
        <label>Update Asset With Parent Asset</label>
        <locationX>810</locationX>
        <locationY>769</locationY>
        <connector>
            <targetReference>Assign_Asset_And_ParentAsset_Variables_Create_ParentAsset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentAssetInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Get_ParentAsset_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>704</locationX>
        <locationY>1097</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountInternalSFIdForMainAssetVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>assetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventConfigurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentAssetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierEventCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>syntilioEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SyntilioEvent__c</objectType>
    </variables>
    <variables>
        <name>timeStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
