carehub-1.1.0/flows/Show_Questionnaire_Questions_and_Create_Protocol_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Query_All_Related_Questions_In_A_Questionnaire</name>
        <label>Query All Related Questions In A Questionnaire</label>
        <locationX>768</locationX>
        <locationY>389</locationY>
        <actionName>QueryQuestionsInSyntilioFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Questions_Contianer</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>questionnaireQuestionsRecordsCollection</name>
            <value>
                <elementReference>questionnaireQuestionsRecordsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueryQuestionsInSyntilioFlow</nameSegment>
        <outputParameters>
            <assignToReference>allRelatedQuestionsInQuestionnaireRecordsCollection</assignToReference>
            <name>allRelatedQuestionsInQuestionnaireRecordsCollection</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>requiredQuestions</assignToReference>
            <name>requiredQuestions</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>QuestionnaireRecordsChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Protocol_Action.Questionnaire__r.Id</elementReference>
            </value>
        </filters>
        <object>Questionnaire__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub Show Questionnaire Questions and Create Protocol Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Show Questionnaire Questions and Create Protocol Results</label>
    <loops>
        <name>Loop_to_show_answers_for_action_result_components</name>
        <label>Loop to show answers for action result components</label>
        <locationX>1321</locationX>
        <locationY>777</locationY>
        <collectionReference>answerDetailsModelList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Question</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Protocol_Action_Result_Component</name>
        <label>Create Protocol Action Result Component</label>
        <locationX>1625</locationX>
        <locationY>1003</locationY>
        <connector>
            <targetReference>Loop_to_show_answers_for_action_result_components</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Loop_to_show_answers_for_action_result_components.answerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Question.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProtocolActionResult__c</field>
            <value>
                <elementReference>Get_Protocol_Action_Result.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>Get_Question.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProtocolActionResultComponent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Details</name>
        <label>Get Case Record Details</label>
        <locationX>526</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Protocol_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Protocol_Action</name>
        <label>Get Protocol Action</label>
        <locationX>153</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Questionnaire_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProtocolActionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProtocolAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Protocol_Action_Result</name>
        <label>Get Protocol Action Result</label>
        <locationX>1169</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_show_answers_for_action_result_components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProtocolAction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProtocolActionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProtocolActionResult__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Question</name>
        <label>Get Question</label>
        <locationX>1625</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Protocol_Action_Result_Component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_show_answers_for_action_result_components.selectedQuestionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Questionnaire_Questions</name>
        <label>Get Questionnaire Questions</label>
        <locationX>332</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Questionnaire_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Protocol_Action.Questionnaire__c</elementReference>
            </value>
        </filters>
        <object>QuestionnaireQuestion__c</object>
        <outputReference>questionnaireQuestionsRecordsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Questionnaire__c</queriedFields>
        <queriedFields>IsRequired__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Questionnaire_Record</name>
        <label>Get Questionnaire Record</label>
        <locationX>546</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_All_Related_Questions_In_A_Questionnaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Protocol_Action.Questionnaire__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Questionnaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Questions_Contianer</name>
        <label>Questions Contianer</label>
        <locationX>764</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Protocol_Action_Result</targetReference>
        </connector>
        <fields>
            <name>GetSelectedQuestionIdsAndanswerValues</name>
            <dataTypeMappings>
                <typeName>Question</typeName>
                <typeValue>Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>Syntilio:questionsContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requiredQuestions</name>
                <value>
                    <elementReference>requiredQuestions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputSobjectRecordList</name>
                <value>
                    <elementReference>allRelatedQuestionsInQuestionnaireRecordsCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sumOfAnswersValues</assignToReference>
                <name>outputSobjectRecord</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>answerDetailsModelList</assignToReference>
                <name>outputSobjectRecordList</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>2277</locationX>
        <locationY>602</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>allowSubmit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allRelatedQuestionsInQuestionnaireRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>answerDetailsModelList</name>
        <apexClass>Syntilio__QuestionnaireAnswerModelLWC</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProtocolActionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionnaireQuestionsRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireQuestion__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requiredQuestions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sumOfAnswersValues</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
