test/schedulersource/main/default/flows/Plan_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <dynamicChoiceSets>
        <name>PlanableEventConfigurations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Syntilio__Planable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Syntilio__EventConfiguration__c</object>
        <outputAssignments>
            <assignToReference>SelectedEventConfigurationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub Plan Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Plan Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>715</locationX>
        <locationY>312</locationY>
        <assignRecordIdToReference>NewCaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>OutboundNewAppointmentWithVirtualTerritoriesSubFlow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogException</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Syntilio__Event__c</field>
            <value>
                <elementReference>SelectedEventConfigurationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>ChooseCaseType</name>
        <label>Choose Case Type</label>
        <locationX>710</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>CaseTypesChoices</name>
            <choiceReferences>PlanableEventConfigurations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the type of case record you&apos;d like to create.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ChooseCaseType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LogException</name>
        <label>Log Exception</label>
        <locationX>946</locationX>
        <locationY>308</locationY>
        <flowName>Syntilio__Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OutboundNewAppointmentWithVirtualTerritoriesSubFlow</name>
        <label>Outbound New Appointment With Virtual Territories SubFlow</label>
        <locationX>715</locationX>
        <locationY>538</locationY>
        <flowName>Outbound_New_Appointment_With_Virtual_Territories</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>NewCaseRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NewCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEventConfigurationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
