source/carehub/main/default/flows/Create_A_Manual_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Query_Flow_Error_Code_Description_For_Selected_Org_Language</name>
        <label>Query Flow Error Code Description For Selected Org Language</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>QueryErrorCodeLanguageInSyntilioFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_Record_with_Error_Code_Configuration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>selectedErrorCodeLanguageApiNameFormula</name>
            <value>
                <elementReference>selectedErrorCodeLanguageApiNameFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskIssueReasonMappedToFlowErrorCodes</name>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueryErrorCodeLanguageInSyntilioFlow</nameSegment>
        <outputParameters>
            <assignToReference>taskReasonDescriptionWithSelectedLanguageVariable</assignToReference>
            <name>taskReasonDescriptionWithSelectedLanguageVariable</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Found_Error_Configurations</name>
        <label>Found Error Configurations?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Record_without_Error_Code_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Error_Configurations_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Error_Codes_Configurations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Flow_Error_Code_Description_For_Selected_Org_Language</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>taskDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>IF( NOT ISBLANK({!eventConfigurationRecord.Code__c}), &quot; Event Code &quot; &amp;  TEXT({!eventConfigurationRecord.Code__c}) &amp; &quot; is received and needs manual intervention for event details: &quot; &amp; IF( NOT ISBLANK({!assetId}), &quot;Asset ID &quot; &amp; {!assetId}, &quot; Empty Asset ID&quot;) &amp;  IF( NOT ISBLANK({!userId}), &quot;, User ID &quot; &amp; {!userId}, &quot;, Empty User ID&quot;) &amp;  IF( NOT ISBLANK({!product}), &quot;, Product &quot; &amp; {!userId}, &quot;, Empty Product&quot;) &amp;  IF( NOT ISBLANK({!phone}), &quot;, Phone &quot; &amp; {!phone}, &quot;, Empty Phone&quot;) &amp; IF( NOT ISBLANK({!parentAssetId}), &quot;, Parent Asset ID &quot; &amp; {!parentAssetId}, &quot;, Empty Parent Asset ID&quot;) &amp; &quot;, Category &quot; &amp; TEXT({!eventConfigurationRecord.Category__c})  &amp; IF( NOT ISBLANK({!eventId}), &quot;, Event ID &quot; &amp; {!eventId}, &quot;, Empty Event ID&quot;) ,  &quot; Event Code &quot; &amp; TEXT({!eventCode}) &amp; &quot; not found &quot; )</expression>
    </formulas>
    <formulas>
        <name>taskSubjectFormula</name>
        <dataType>String</dataType>
        <expression>IF( NOT ISBLANK({!eventConfigurationRecord.Code__c}), {!eventConfigurationRecord.Name}, &quot;Event Code Not Found&quot;)</expression>
    </formulas>
    <formulas>
        <name>taskWhatIdFormula</name>
        <dataType>String</dataType>
        <expression>IF( NOT ISBLANK( {!syntilioEventRecord.Account__c} ), {!syntilioEventRecord.Account__c}, null)</expression>
    </formulas>
    <formulas>
        <name>taskWhoIdFormula</name>
        <dataType>String</dataType>
        <expression>IF( NOT ISBLANK( {!syntilioEventRecord.Account__c} ), {!syntilioEventRecord.Account__c} , null)</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Create A Manual Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Create A Manual Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record_with_Error_Code_Configuration</name>
        <label>Create Task Record with Error Code Configuration</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>syntilioEventRecord.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>taskReasonDescriptionWithSelectedLanguageVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_Task_RecordType_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyntilioEvent__c</field>
            <value>
                <elementReference>syntilioEventRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>syntilioEventRecord.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>syntilioEventRecord.ContactId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record_without_Error_Code_Configuration</name>
        <label>Create Task Record without Error Code Configuration</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Query_Flow_Error_Code_Description_For_Selected_Org_Language</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>syntilioEventRecord.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Unknown reason, We couldn&apos;t find this error configuration in your org, please contact your system administrator check the custom metadata.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_Task_RecordType_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyntilioEvent__c</field>
            <value>
                <elementReference>syntilioEventRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>syntilioEventRecord.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_Task_RecordType_Id</name>
        <label>Get Event Task RecordType Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flow_Error_Codes_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EventTask</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Error_Codes_Configurations</name>
        <label>Get Flow Error Codes Configurations</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Error_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ErrorCodeConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Task_RecordType_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>528</locationX>
        <locationY>866</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careHubAppConfigurationMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CareHubAppConfiguration__mdt</objectType>
    </variables>
    <variables>
        <name>caseSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdCaseInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventConfigurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedErrorCodeLanguageApiNameFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>syntilioEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SyntilioEvent__c</objectType>
    </variables>
    <variables>
        <name>taskIssueReasonMappedToFlowErrorCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskReasonDescriptionWithSelectedLanguageVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
