source/carehub/main/default/flows/Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>External_ID_Collection_to_Single_Record</name>
        <label>External ID Collection to Single Record</label>
        <locationX>2115</locationX>
        <locationY>1128</locationY>
        <actionName>FlowTransformListToSingleRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__incomingSobjectCollection</typeName>
            <typeValue>ExternalId__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__ouputSingleRecord</typeName>
            <typeValue>ExternalId__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>incomingSobjectCollection</name>
            <value>
                <elementReference>Get_External_ID_for_not_specified_External_System</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>indexOfRecordToBeReturned</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>FlowTransformListToSingleRecord</nameSegment>
        <outputParameters>
            <assignToReference>ouputExternalIdSingleRecord</assignToReference>
            <name>ouputSingleRecord</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_App_And_Event_Configurations</name>
        <label>Assign App And Event Configurations</label>
        <locationX>1393</locationX>
        <locationY>1899</locationY>
        <assignmentItems>
            <assignToReference>careHubAppConfigurationMetadataRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CareHub_App_Configurations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventConfigurationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event_Configurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssetId_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Syntilio_Event_Variables_With_Account</name>
        <label>Assign Syntilio Event Variables With Account</label>
        <locationX>2340</locationX>
        <locationY>1599</locationY>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.TimeStamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.AssetIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.SupplierEventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supplierEventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Syntilio_Event_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Syntilio_Event_Variables_With_Main_Asset</name>
        <label>Assign Syntilio Event Variables With Main Asset</label>
        <locationX>2029</locationX>
        <locationY>1902</locationY>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.TimeStamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.AssetIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.SupplierEventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supplierEventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentAssetId_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Syntilio_Event_Variables_With_Newly_Created_Asset</name>
        <label>Assign Syntilio Event Variables With Newly Created Asset</label>
        <locationX>2172</locationX>
        <locationY>1726</locationY>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.EventId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.TimeStamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.AssetIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.SupplierEventCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supplierEventCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactInternalSFId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>syntilioEventRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventConfigurationRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentAssetId_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>externalIdRecordsSizeAssignment</name>
        <label>externalIdRecordsSizeAssignment</label>
        <locationX>1938</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>externalIdRecordsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_External_ID_for_not_specified_External_System</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zero_One_or_Multiple_Records</targetReference>
        </connector>
    </assignments>
        <decisions>
        <name>AssetId_Not_Null</name>
        <label>AssetId Not Null?</label>
        <locationX>1521</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>UserId_or_Phone_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>AssetId_Not_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssetId_Not_Null_With_Valid_UserId</name>
        <label>AssetId Not Null With Valid UserId?</label>
        <locationX>2252</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Assign_Syntilio_Event_Variables_With_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>AssetId_Not_Null_With_Valid_UserId_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
        <decisions>
        <name>Check_If_To_Create_A_Manual_Task_For_AssetId_Not_Null_With_Valid_UserId</name>
        <label>Check If To Create A Manual Task For AssetId Not Null With Valid UserId</label>
        <locationX>3070</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>Validate_External_System</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Create a Task</defaultConnectorLabel>
        <rules>
            <name>Check_If_To_Create_A_Manual_Task_For_AssetId_Not_Null_With_Valid_UserId_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetId_Not_Null_With_Valid_UserId_True</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_2</targetReference>
            </connector>
            <label>Create a Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Case_Action</name>
        <label>Decide Case Action</label>
        <locationX>2526</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Check_If_To_Create_A_Manual_Task_For_AssetId_Not_Null_With_Valid_UserId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Only</defaultConnectorLabel>
        <rules>
            <name>Create_Update_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Configurations.CaseAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Update_Case_Subflow</targetReference>
            </connector>
            <label>Create/Update Case</label>
        </rules>
        <rules>
            <name>Close_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventConfigurationRecord.CaseAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case_Subflow</targetReference>
            </connector>
            <label>Close Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_App_Configurations</name>
        <label>Found App Configurations?</label>
        <locationX>872</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Create_A_Manual_Task_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Found_App_Configurations_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CareHub_App_Configurations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DataHub_App_Configurations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_Configurations</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Asset_Record</name>
        <label>Found Asset Record?</label>
        <locationX>1863</locationX>
        <locationY>1903</locationY>
        <defaultConnector>
            <targetReference>UserId_or_Phone_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Asset_Record_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Syntilio_Event_Variables_With_Main_Asset</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contect_Record</name>
        <label>Found Contact Record?</label>
        <locationX>2340</locationX>
        <locationY>1028</locationY>
        <defaultConnector>
            <targetReference>Create_A_Manual_Task_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Contact_Record_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Event_Configurations</name>
        <label>Found Event Configurations</label>
        <locationX>1212</locationX>
        <locationY>1899</locationY>
        <defaultConnector>
            <targetReference>Create_A_Manual_Task_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Event_Configurations_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Configurations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_App_And_Event_Configurations</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_External_System</name>
        <label>Found External System?</label>
        <locationX>2130</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Create_A_Manual_Task_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_External_System_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_External_System_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_ID_For_a_Specific_External_System</targetReference>
            </connector>
            <label>Found External System True</label>
        </rules>
    </decisions>
        <decisions>
        <name>ParentAssetId_Not_Null</name>
        <label>ParentAssetId Not Null?</label>
        <locationX>2163</locationX>
        <locationY>1904</locationY>
        <defaultConnector>
            <targetReference>Create_Syntilio_Event_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ParentAssetId_Not_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentAssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentAsset_Handler</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParentAssetId_Not_Null_With_Valid_UserId_And_Not_Valid_AssetId</name>
        <label>ParentAssetId Not Null With Valid UserId And Not Valid AssetId?</label>
        <locationX>3442</locationX>
        <locationY>1903</locationY>
        <defaultConnector>
            <targetReference>Validate_Incoming_ParentAseetId_With_Asset_ParentAseetId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ParentAssetId_Not_Null_With_Valid_UserId_And_Not_Valid_AssetId_True</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>parentAssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Found_Contact_Record_True</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Found_Asset_Record_True</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Found_Asset_Record_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_4</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserId_or_Phone_Not_Null</name>
        <label>UserId or Phone Not Null?</label>
        <locationX>1700</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>Create_A_Manual_Task_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User ID and Phone Are Null</defaultConnectorLabel>
        <rules>
            <name>User_ID_and_Product_Not_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_System_Record</targetReference>
            </connector>
            <label>User ID and Product Not Null True</label>
        </rules>
        <rules>
            <name>User_ID_Not_Null_and_Product_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_ID_for_not_specified_External_System</targetReference>
            </connector>
            <label>User ID Not Null and Product Null True</label>
        </rules>
        <rules>
            <name>Phone_Not_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Phone Not Null True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_External_System</name>
        <label>Validate External System</label>
        <locationX>3181</locationX>
        <locationY>1900</locationY>
        <defaultConnector>
            <targetReference>ParentAssetId_Not_Null_With_Valid_UserId_And_Not_Valid_AssetId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Succeeded</defaultConnectorLabel>
        <rules>
            <name>Validate_External_System_Failed</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ID_Not_Null_and_Product_Null_True</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_3</targetReference>
            </connector>
            <label>Validation Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_if_there_is_an_Account_record_to_Contact</name>
        <label>Validate if there is an Account record to Contact</label>
        <locationX>3968</locationX>
        <locationY>1911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_if_there_is_an_Account_record_to_Contact_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_5</targetReference>
            </connector>
            <label>Validation Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Incoming_ParentAseetId_With_Asset_ParentAseetId</name>
        <label>Validate Incoming ParentAseetId With Asset ParentAseetId</label>
        <locationX>3687</locationX>
        <locationY>1907</locationY>
        <defaultConnector>
            <targetReference>Validate_if_there_is_an_Account_record_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Succeeded</defaultConnectorLabel>
        <rules>
            <name>Validate_Incoming_ParentAseetId_With_Asset_ParentAseetId_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>parentAssetInternalSFId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_5</targetReference>
            </connector>
            <label>Validation Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zero_One_or_Multiple_Records</name>
        <label>Zero, One or Multiple Records</label>
        <locationX>1934</locationX>
        <locationY>1140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneExternalId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalIdRecordsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_ID_Collection_to_Single_Record</targetReference>
            </connector>
            <label>OneExternalId</label>
        </rules>
        <rules>
            <name>ZeroExternalId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalIdRecordsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_1</targetReference>
            </connector>
            <label>ZeroExternalId</label>
        </rules>
        <rules>
            <name>MultipleExternalId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalIdRecordsSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Manual_Task_1</targetReference>
            </connector>
            <label>MultipleExternalId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountInternalSFIdForMainAsset</name>
        <dataType>String</dataType>
        <expression>IF(NOT ISBLANK({!assetId}), {!Get_Asset_Record.AccountId}, {!Get_Account_Record.Id})</expression>
    </formulas>
    <formulas>
        <name>defaultAssetInUseStatusFormula</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!careHubAppConfigurationMetadataRecord.AssetInUseStatus__c}), &quot;Active&quot;,{!careHubAppConfigurationMetadataRecord.AssetInUseStatus__c})</expression>
    </formulas>
    <formulas>
        <name>getPastTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/1440)</expression>
    </formulas>
    <formulas>
        <description>Returns the timestamp for the event with a threshold value added to to create a end time for a window</description>
        <name>getTimestampWithThresholdAdded</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ( IF(ISNULL( {!Get_CareHub_App_Configurations.PlannedAppointmentTimeframe__c}), 5,  {!Get_CareHub_App_Configurations.PlannedAppointmentTimeframe__c})/ 1440)</expression>
    </formulas>
    <formulas>
        <name>selectedErrorCodeLanguageApiNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_CareHub_App_Configurations.NamespacePrefix} &amp; &quot;__Description_&quot; &amp; TEXT({!Get_DataHub_App_Configurations.Language__c}) &amp; &quot;__c&quot;</expression>
    </formulas>
    <formulas>
        <name>taskIssueReasonMappedToFlowErrorCodes</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Found_App_Configurations_True}), &quot;FLE001&quot;, IF(NOT({!Found_Event_Configurations_True}), &quot;FLE002&quot; , IF( NOT({!AssetId_Not_Null_True}) &amp;&amp; NOT({!User_ID_and_Product_Not_Null_True}) &amp;&amp; NOT({!User_ID_Not_Null_and_Product_Null_True}) &amp;&amp; NOT({!Phone_Not_Null_True}), &quot;FLE003&quot;, IF( NOT({!Found_Asset_Record_True}) &amp;&amp; NOT({!User_ID_and_Product_Not_Null_True}) &amp;&amp; NOT({!User_ID_Not_Null_and_Product_Null_True}) &amp;&amp; NOT({!Phone_Not_Null_True}), &quot;FLE004&quot; , IF( NOT({!Found_Asset_Record_True}) &amp;&amp; NOT({!Found_Contact_Record_True}), &quot;FLE005&quot;, IF( NOT({!AssetId_Not_Null_True}) &amp;&amp; NOT({!Found_Contact_Record_True}), &quot;FLE006&quot; , IF( {!AssetId_Not_Null_With_Valid_UserId_True} ,&quot;FLE007&quot;, IF( {!Validate_External_System_Failed}, &quot;FLE008&quot;, IF( {!ParentAssetId_Not_Null_With_Valid_UserId_And_Not_Valid_AssetId_True},&quot;FLE009&quot; , IF( {!Validate_Incoming_ParentAseetId_With_Asset_ParentAseetId_Failed},&quot;FLE010&quot; , IF( {!Validate_if_there_is_an_Account_record_to_Contact_False},&quot;FLE011&quot; ,  IF( NOT({!Found_External_System_True}),&quot;FLE012&quot;, IF({!ZeroExternalId},&quot;FLE013&quot;, IF({!MultipleExternalId},&quot;FLE014&quot;,  &quot;&quot;) ) )) ) ) ))))))))</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Event Handler{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Event Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset_Record</name>
        <label>Create Asset Record</label>
        <locationX>2171</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>assetInternalSFId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Syntilio_Event_Variables_With_Newly_Created_Asset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId__c</field>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Created From Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>productSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Syntilio_Event_Record</name>
        <label>Create Syntilio Event Record</label>
        <locationX>2369</locationX>
        <locationY>1905</locationY>
        <connector>
            <targetReference>Decide_Case_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputReference>syntilioEventRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>2261</locationX>
        <locationY>1235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetId_Not_Null_With_Valid_UserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>1706</locationX>
        <locationY>1901</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Asset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CareHub_App_Configurations</name>
        <label>Get CareHub App Configurations</label>
        <locationX>749</locationX>
        <locationY>1896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_App_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CareHubAppConfiguration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareHubAppConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
        <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>2228</locationX>
        <locationY>1027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contect_Record</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_External_ID_For_a_Specific_External_System.ContactId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ouputExternalIdSingleRecord.ContactId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DataHub_App_Configurations</name>
        <label>Get DataHub App Configurations</label>
        <locationX>489</locationX>
        <locationY>1896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CareHub_App_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DataHubAppConfiguration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataHubAppConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Configurations</name>
        <label>Get Event Configurations</label>
        <locationX>1050</locationX>
        <locationY>1897</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Event_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EventConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_ID_For_a_Specific_External_System</name>
        <label>Get External ID For a Specific External System</label>
        <locationX>2131</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalSystemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_External_System_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExternalId__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_ID_for_not_specified_External_System</name>
        <label>Get External ID for not specified External System</label>
        <locationX>1809</locationX>
        <locationY>1280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>externalIdRecordsSizeAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExternalId__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_System_Record</name>
        <label>Get External System Record</label>
        <locationX>1864</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_External_System</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExternalSystem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
        <start>
        <locationX>50</locationX>
        <locationY>1877</locationY>
        <connector>
            <targetReference>Get_DataHub_App_Configurations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Case_Subflow</name>
        <label>Close Case Subflow</label>
        <locationX>2664</locationX>
        <locationY>2097</locationY>
        <connector>
            <targetReference>Check_If_To_Create_A_Manual_Task_For_AssetId_Not_Null_With_Valid_UserId</targetReference>
        </connector>
        <flowName>Close_Case</flowName>
        <inputAssignments>
            <name>accountInternalSFIdForMainAssetVariable</name>
            <value>
                <elementReference>accountInternalSFIdForMainAssetVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetRecord</name>
            <value>
                <elementReference>assetRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_A_Manual_Task_1</name>
        <label>Create A Manual Task</label>
        <locationX>1686</locationX>
        <locationY>37</locationY>
        <flowName>Create_A_Manual_Task</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careHubAppConfigurationMetadataRecord</name>
            <value>
                <elementReference>careHubAppConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetId</name>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedErrorCodeLanguageApiNameFormula</name>
            <value>
                <elementReference>selectedErrorCodeLanguageApiNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskIssueReasonMappedToFlowErrorCodes</name>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_A_Manual_Task_2</name>
        <label>Create A Manual Task</label>
        <locationX>3123</locationX>
        <locationY>1666</locationY>
        <connector>
            <targetReference>Validate_External_System</targetReference>
        </connector>
        <flowName>Create_A_Manual_Task</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careHubAppConfigurationMetadataRecord</name>
            <value>
                <elementReference>careHubAppConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseSFInternalId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetId</name>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedErrorCodeLanguageApiNameFormula</name>
            <value>
                <elementReference>selectedErrorCodeLanguageApiNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskIssueReasonMappedToFlowErrorCodes</name>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_A_Manual_Task_3</name>
        <label>Create A Manual Task</label>
        <locationX>3344</locationX>
        <locationY>1658</locationY>
        <connector>
            <targetReference>ParentAssetId_Not_Null_With_Valid_UserId_And_Not_Valid_AssetId</targetReference>
        </connector>
        <flowName>Create_A_Manual_Task</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careHubAppConfigurationMetadataRecord</name>
            <value>
                <elementReference>careHubAppConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseSFInternalId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetId</name>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedErrorCodeLanguageApiNameFormula</name>
            <value>
                <elementReference>selectedErrorCodeLanguageApiNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskIssueReasonMappedToFlowErrorCodes</name>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_A_Manual_Task_4</name>
        <label>Create A Manual Task</label>
        <locationX>3577</locationX>
        <locationY>1668</locationY>
        <connector>
            <targetReference>Validate_Incoming_ParentAseetId_With_Asset_ParentAseetId</targetReference>
        </connector>
        <flowName>Create_A_Manual_Task</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careHubAppConfigurationMetadataRecord</name>
            <value>
                <elementReference>careHubAppConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseSFInternalId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>createdCaseInternalSFId</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetId</name>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedErrorCodeLanguageApiNameFormula</name>
            <value>
                <elementReference>selectedErrorCodeLanguageApiNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskIssueReasonMappedToFlowErrorCodes</name>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_A_Manual_Task_5</name>
        <label>Create A Manual Task</label>
        <locationX>3844</locationX>
        <locationY>1667</locationY>
        <flowName>Create_A_Manual_Task</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careHubAppConfigurationMetadataRecord</name>
            <value>
                <elementReference>careHubAppConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseSFInternalId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetId</name>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedErrorCodeLanguageApiNameFormula</name>
            <value>
                <elementReference>selectedErrorCodeLanguageApiNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskIssueReasonMappedToFlowErrorCodes</name>
            <value>
                <elementReference>taskIssueReasonMappedToFlowErrorCodes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Update_Case_Subflow</name>
        <label>Create/Update Case Subflow</label>
        <locationX>2768</locationX>
        <locationY>1723</locationY>
        <connector>
            <targetReference>GetWaitingTime</targetReference>
        </connector>
        <flowName>Create_Update_Case</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountInternalSFIdForMainAssetVariable</name>
            <value>
                <elementReference>accountInternalSFIdForMainAssetVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>appConfigurationMetadataRecord</name>
            <value>
                <elementReference>careHubAppConfigurationMetadataRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetDescription</name>
            <value>
                <elementReference>assetDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetInternalSFId</name>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetRecord</name>
            <value>
                <elementReference>assetRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactInternalSFId</name>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetInternalSFId</name>
            <value>
                <elementReference>parentAssetInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productSFInternalId</name>
            <value>
                <elementReference>productSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseSFInternalId</assignToReference>
            <name>caseSFInternalId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseInternalSFId</assignToReference>
            <name>createdCaseInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextQueueIdAfterWaiting</assignToReference>
            <name>nextQueueIdAfterWaiting</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueuInternalSFId</assignToReference>
            <name>queueInternalSFId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetWaitingTime</name>
        <label>GetWaitingTime</label>
        <locationX>2914</locationX>
        <locationY>1725</locationY>
        <connector>
            <targetReference>Check_If_To_Create_A_Manual_Task_For_AssetId_Not_Null_With_Valid_UserId</targetReference>
        </connector>
        <flowName>Event_Waiting_Time_Process</flowName>
        <inputAssignments>
            <name>CaseSFId</name>
            <value>
                <elementReference>caseSFInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfiguration</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextQueueIdAfterWaiting</name>
            <value>
                <elementReference>nextQueueIdAfterWaiting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>queueInternalSFId</name>
            <value>
                <elementReference>queueuInternalSFId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>2434</locationX>
        <locationY>1471</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ParentAsset_Handler</name>
        <label>Parent Asset Handler</label>
        <locationX>2274</locationX>
        <locationY>2157</locationY>
        <connector>
            <targetReference>Create_Syntilio_Event_Record</targetReference>
        </connector>
        <flowName>ParentAsset_Handler</flowName>
        <inputAssignments>
            <name>accountInternalSFId</name>
            <value>
                <elementReference>accountInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountInternalSFIdForMainAssetVariable</name>
            <value>
                <elementReference>accountInternalSFIdForMainAssetVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetId</name>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetIndex</name>
            <value>
                <elementReference>assetIndex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetInternalSFId</name>
            <value>
                <elementReference>assetInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetRecord</name>
            <value>
                <elementReference>assetRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>category</name>
            <value>
                <elementReference>category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactInternalSFId</name>
            <value>
                <elementReference>contactInternalSFId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventCode</name>
            <value>
                <elementReference>eventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventConfigurationRecord</name>
            <value>
                <elementReference>eventConfigurationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>eventId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetId</name>
            <value>
                <elementReference>parentAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAssetStatus</name>
            <value>
                <elementReference>parentAssetStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>supplierEventCode</name>
            <value>
                <elementReference>supplierEventCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEventRecord</name>
            <value>
                <elementReference>syntilioEventRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>timeStamp</name>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>parentAssetInternalSFId</assignToReference>
            <name>parentAssetInternalSFId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>syntilioEventRecord</assignToReference>
            <name>syntilioEventRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountInternalSFIdForMainAssetVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>accountInternalSFIdForMainAsset</elementReference>
        </value>
    </variables>
    <variables>
        <name>assetDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assetIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>assetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>careHubAppConfigurationMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CareHubAppConfiguration__mdt</objectType>
    </variables>
    <variables>
        <name>caseSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdCaseInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventConfigurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>EventConfiguration__c</objectType>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>externalIdRecordsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>externalSystemFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!product} + &apos; Created From Syntilio Flow&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>newlyCreatedAssetSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextQueueIdAfterWaiting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ouputExternalIdSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExternalId__c</objectType>
    </variables>
    <variables>
        <name>parentAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentAssetInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Asset_Record.Status</elementReference>
        </value>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productSFInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueuInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
<variables>
        <name>serviceResourceObjectAccessBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierEventCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>syntilioEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SyntilioEvent__c</objectType>
    </variables>
    <variables>
        <name>timeStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>waitingQueueuInternalSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
