source/carehub/main/default/flows/Group_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignCaseRecord</name>
        <label>Assign Case Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>caseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseRecordHasParent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignParentId</name>
        <label>Assign Parent ID</label>
        <locationX>671</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventWithSiblingCase.Case__r.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaseRecordHasParent</name>
        <label>Case Record Has Parent</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetCaseGroupingConfigurations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Parent</defaultConnectorLabel>
        <rules>
            <name>HasParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseParent</name>
        <label>Check Case Parent</label>
        <locationX>803</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GetCaseGroupingRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Parent</defaultConnectorLabel>
        <rules>
            <name>HasParentWithDifferentEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventWithSiblingCase.Case__r.Parent.Event__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseRecord.Event__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eventWithSiblingCase.Case__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Parent With Different Event</label>
        </rules>
        <rules>
            <name>HasParentWithSameEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventWithSiblingCase.Case__r.Parent.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>caseRecord.Event__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eventWithSiblingCase.Case__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignParentId</targetReference>
            </connector>
            <label>Has Parent With Same Event</label>
        </rules>
        <rules>
            <name>NoSibling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventWithSiblingCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Sibling</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupingCheck</name>
        <label>Grouping Check</label>
        <locationX>473</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GetOldestSyntilioEventWithinRange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Grouping Range and Region Not Null</defaultConnectorLabel>
        <rules>
            <name>GroupingRangeOrRegionNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>groupingRange</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>groupingRegion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Grouping Range or Region Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>groupingRangeStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(NOW() - ({!groupingRange}/1440)))</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Group Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Group Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateGroupingParentCase</name>
        <label>Create Grouping Parent Case</label>
        <locationX>1199</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>parentId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogException</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>caseRecord.Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseGroupingRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>groupingName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetCaseGroupingConfigurations</name>
        <label>Get Case Grouping Configurations</label>
        <locationX>473</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupingCheck</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogException</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventConfigurationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupingRange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseGroupingConfiguration__c</object>
        <outputAssignments>
            <assignToReference>groupingRange</assignToReference>
            <field>GroupingRange__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>groupingName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>groupingRegion</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseGroupingRecordTypeId</name>
        <label>Get Case Grouping Record Type ID</label>
        <locationX>1199</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateGroupingParentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GroupingCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecord</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOldestSyntilioEventWithinRange</name>
        <label>Get Oldest Syntilio Event Within Range</label>
        <locationX>803</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEventWithSiblingCase</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogException</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>groupingRangeStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Event__r.Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SyntilioEvent__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRecord</name>
        <label>Update Case Record</label>
        <locationX>803</locationX>
        <locationY>1346</locationY>
        <faultConnector>
            <targetReference>LogException</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventWithSiblingCase.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetEventWithSiblingCase</name>
        <label>Get Event With Sibling Case</label>
        <locationX>803</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>CheckCaseParent</targetReference>
        </connector>
        <flowName>Get_Event_With_Sibling_Case</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>groupingRegion</name>
            <value>
                <elementReference>groupingRegion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>syntilioEvents</name>
            <value>
                <elementReference>GetOldestSyntilioEventWithinRange</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>eventWithSiblingCase</assignToReference>
            <name>eventWithSiblingCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LogException</name>
        <label>Log Exception</label>
        <locationX>1727</locationX>
        <locationY>1454</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventWithSiblingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SyntilioEvent__c</objectType>
    </variables>
    <variables>
        <name>groupingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupingRange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>groupingRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
