source/carehub/main/default/flows/One_Main_Group_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <name>X0_3</name>
        <label>{0} 3</label>
        <locationX>536</locationX>
        <locationY>800</locationY>
        <customErrorMessages>
            <errorMessage>There already exists another main group</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>MainGroupChecker</name>
        <label>Main Group Checker</label>
        <locationX>525</locationX>
        <locationY>560</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ThereExistsMainGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMainGroupForContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X0_3</targetReference>
            </connector>
            <label>There exists another main group</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub One Main Group Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub One Main Group Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMainGroupForContact</name>
        <label>Get Main Group For Contact</label>
        <locationX>536</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MainGroupChecker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MainGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetMainGroupForContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MainGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GroupMember__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
