source/carehub/main/default/flows/Update_Case_Status_When_Case_Is_Picked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CasePreviousStatus</name>
        <label>Case Previous Status</label>
        <locationX>983</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status_To_Working</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseStatusContainsClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Case Status Contains closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Case_Working_Status_Name_Available</name>
        <label>Check If Case Working Status Name Available</label>
        <locationX>312</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>No Doesn&apos;t have value</defaultConnectorLabel>
        <rules>
            <name>Yes_Have_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CareHub_App_Configurations.CaseWorkingStatusName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Yes, Have Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value_if_Equal</name>
        <label>Check Value if Equal</label>
        <locationX>1147</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Status_Picklist_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Equal</defaultConnectorLabel>
        <rules>
            <name>Equal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Status_Picklist_Values.ApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CareHub_App_Configurations.CaseWorkingStatusName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Status_Picklist_Values.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CareHub_App_Configurations.CaseWorkingStatusName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CasePreviousStatus</targetReference>
            </connector>
            <label>Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Assigned</name>
        <label>Is Case Assigned?</label>
        <locationX>706</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Case Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Case_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkItemId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Status_Picklist_Values</targetReference>
            </connector>
            <label>Case Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub Update Case Status When Case Is Picked {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Update Case Status When Case Is Picked</label>
    <loops>
        <name>Loop_on_Status_Picklist_Values</name>
        <label>Loop on Status Picklist Values</label>
        <locationX>1149</locationX>
        <locationY>452</locationY>
        <collectionReference>caseStatusPicklistValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Value_if_Equal</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CareHub_App_Configurations</name>
        <label>Get CareHub App Configurations</label>
        <locationX>167</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Case_Working_Status_Name_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CareHubAppConfiguration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareHubAppConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>551</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Status_Picklist_Values</name>
        <label>Get Case Status Picklist Values</label>
        <locationX>932</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Status_Picklist_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CaseStatus</object>
        <outputReference>caseStatusPicklistValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApiName</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status_To_Working</name>
        <label>Update Case Status To Working</label>
        <locationX>781</locationX>
        <locationY>265</locationY>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_CareHub_App_Configurations.CaseWorkingStatusName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_CareHub_App_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>498</locationX>
        <locationY>266</locationY>
        <flowName>Log_Exception</flowName>
        <inputAssignments>
            <name>logExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logExceptionRecordId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseStatusPicklistValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseStatus</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
