schedulersource/main/default/flows/Route_Case_To_Agent_in_Omni_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Route the Case to the Agent related to the Case through the Case&apos;s Owner</description>
        <name>Route_to</name>
        <label>Route Case to Agent</label>
        <locationX>261</locationX>
        <locationY>1703</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9JW0000001OOT0A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Syntilio Case Handler Service Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>CaseHandlerServiceChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K9JW0000000V0b0AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Syntilio Routing Configuration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RouteCaseToQueue</name>
        <label>Route Case to Queue</label>
        <locationX>62</locationX>
        <locationY>1695</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9JW0000001OOT0A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Syntilio Case Handler Service Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>CaseHandlerServiceChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Main_Group_Id</name>
        <label>Set Main Group Id</label>
        <locationX>531</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>SyntilioGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainSyntilioGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Syntilio_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Main_Syntilio_Group_Id</name>
        <label>Set Main Syntilio Group Id</label>
        <locationX>824</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>MainSyntilioGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Group_Member_Association_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Group_Member_Association_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Syntilio_Group_Id</name>
        <label>Set Syntilio Group Id</label>
        <locationX>642</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>SyntilioGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Group_Member_Association_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Group_Member_Association_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Owner_User</name>
        <label>Check Owner User</label>
        <locationX>155</locationX>
        <locationY>1566</locationY>
        <defaultConnector>
            <targetReference>RouteCaseToQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Queue_Found</name>
        <label>Check Queue Found</label>
        <locationX>260</locationX>
        <locationY>1201</locationY>
        <defaultConnector>
            <targetReference>Get_Medical_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Group</name>
        <label>Is Main Group</label>
        <locationX>734</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Set_Syntilio_Group_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Main Group</defaultConnectorLabel>
        <rules>
            <name>Main_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Group_Member_Association_List.Syntilio__MainGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Main_Syntilio_Group_Id</targetReference>
            </connector>
            <label>Main Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Syntilio_Group_Found</name>
        <label>Is Syntilio Group Found</label>
        <locationX>361</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Get_Medical_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Syntilio Group Not Found</defaultConnectorLabel>
        <rules>
            <name>Main_Syntilio_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainSyntilioGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Main_Group_Id</targetReference>
            </connector>
            <label>Main Syntilio Group Found</label>
        </rules>
        <rules>
            <name>Syntilio_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SyntilioGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Syntilio_Group</targetReference>
            </connector>
            <label>Syntilio Group Found</label>
        </rules>
    </decisions>
    <description>Routing Case related to a Service Appointment using the Case Owner field in Omni-Channel</description>
    <environments>Default</environments>
    <interviewLabel>Syntilio CareHub Route Case To Agent in Omni-Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Route Case To Agent in Omni-Channel</label>
    <loops>
        <name>Loop_Over_Group_Member_Association_List</name>
        <label>Loop Over Group Member Association List</label>
        <locationX>744</locationX>
        <locationY>358</locationY>
        <collectionReference>Get_Group_Member_Association</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Main_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Syntilio_Group_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <description>Get Case linked to the Service Appointment (Parent Record)</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1177</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_Association</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_Association</name>
        <label>Get Group Member Association</label>
        <locationX>935</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Group_Member_Association_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Syntilio__ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Syntilio__GroupMember__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Syntilio__GroupId__c</queriedFields>
        <queriedFields>Syntilio__MainGroup__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medical_Queue</name>
        <label>Get Medical Queue</label>
        <locationX>48</locationX>
        <locationY>1328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>431</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Syntilio_Group.Name</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1178</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Syntilio_Group</name>
        <label>Get Syntilio Group</label>
        <locationX>437</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SyntilioGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Syntilio__Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>335</locationX>
        <locationY>1471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Owner_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1052</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MainSyntilioGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Appointment ID input to route its parent record (Case) to the case owner</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SyntilioGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
