schedulersource/main/default/flows/Schedule_Recurring_Appointments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cloneServiceAppointment</name>
        <label>Clone Service Appointment</label>
        <locationX>345</locationX>
        <locationY>945</locationY>
        <actionName>ServiceAppointmentHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateClonedAppointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputServiceAppointment</name>
            <value>
                <elementReference>getLastInSeries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodToBeUsed</name>
            <value>
                <stringValue>cloneServiceAppointment</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointmentHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>getLastInSeries</name>
        <label>Get Last In Series</label>
        <locationX>337</locationX>
        <locationY>726</locationY>
        <actionName>ServiceAppointmentHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>cloneServiceAppointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputServiceAppointment</name>
            <value>
                <elementReference>LoopOverYesterdayAppointments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodToBeUsed</name>
            <value>
                <stringValue>getLastInSeries</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointmentHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddRecordsToLists</name>
        <label>Add Records to Lists</label>
        <locationX>543</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>getLastInSeriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getLastInSeries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneServiceAppointmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cloneServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLastInSeries.NextOccurenceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clonedAppointmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverYesterdayAppointments</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>yesterdaysDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 1</expression>
    </formulas>
    <interviewLabel>Syntilio CareHub Schedule Recurring Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syntilio CareHub Schedule Recurring Service Appointments</label>
    <loops>
        <name>LoopOverYesterdayAppointments</name>
        <label>Loop Over Yesterday&apos;s Appointments</label>
        <locationX>535</locationX>
        <locationY>480</locationY>
        <collectionReference>Get_Yesterday_s_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getLastInSeries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Last_In_Series_Appointments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateClonedAppointment</name>
        <label>Create Cloned Appointment</label>
        <locationX>549</locationX>
        <locationY>943</locationY>
        <assignRecordIdToReference>clonedAppointmentId</assignRecordIdToReference>
        <connector>
            <targetReference>AddRecordsToLists</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <elementReference>cloneServiceAppointment.ActualDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>cloneServiceAppointment.ActualEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>cloneServiceAppointment.ActualStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdditionalInformation</field>
            <value>
                <elementReference>cloneServiceAppointment.AdditionalInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentCategoryId</field>
            <value>
                <elementReference>cloneServiceAppointment.AppointmentCategoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentInvitationId</field>
            <value>
                <elementReference>cloneServiceAppointment.AppointmentInvitationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentType</field>
            <value>
                <elementReference>cloneServiceAppointment.AppointmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApptBookingInfoUrl</field>
            <value>
                <elementReference>cloneServiceAppointment.ApptBookingInfoUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>cloneServiceAppointment.ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>cloneServiceAppointment.ArrivalWindowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReason</field>
            <value>
                <elementReference>cloneServiceAppointment.CancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>cloneServiceAppointment.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>cloneServiceAppointment.Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>cloneServiceAppointment.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>cloneServiceAppointment.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>cloneServiceAppointment.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>cloneServiceAppointment.DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>cloneServiceAppointment.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>cloneServiceAppointment.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>cloneServiceAppointment.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>cloneServiceAppointment.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementChannelTypeId</field>
            <value>
                <elementReference>cloneServiceAppointment.EngagementChannelTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeocodeAccuracy</field>
            <value>
                <elementReference>cloneServiceAppointment.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsertedByAgent__c</field>
            <value>
                <elementReference>cloneServiceAppointment.InsertedByAgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAnonymousBooking</field>
            <value>
                <elementReference>cloneServiceAppointment.IsAnonymousBooking</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsOffsiteAppointment</field>
            <value>
                <elementReference>cloneServiceAppointment.IsOffsiteAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>cloneServiceAppointment.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>cloneServiceAppointment.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextOccurenceId__c</field>
            <value>
                <elementReference>cloneServiceAppointment.NextOccurenceId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>cloneServiceAppointment.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>cloneServiceAppointment.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>cloneServiceAppointment.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>cloneServiceAppointment.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrencePeriod__c</field>
            <value>
                <elementReference>cloneServiceAppointment.RecurrencePeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurrence_Period_Type__c</field>
            <value>
                <elementReference>cloneServiceAppointment.Recurrence_Period_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>cloneServiceAppointment.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>cloneServiceAppointment.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceNote</field>
            <value>
                <elementReference>cloneServiceAppointment.ServiceNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>cloneServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>cloneServiceAppointment.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>cloneServiceAppointment.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>cloneServiceAppointment.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>cloneServiceAppointment.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateAllOccurrences__c</field>
            <value>
                <elementReference>cloneServiceAppointment.UpdateAllOccurrences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByAgent__c</field>
            <value>
                <elementReference>cloneServiceAppointment.UpdatedByAgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>cloneServiceAppointment.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Yesterday_s_Service_Appointments</name>
        <label>Get Yesterday&apos;s Service Appointments</label>
        <locationX>536</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverYesterdayAppointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>yesterdaysDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecurrencePeriod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecurrencePeriod__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_In_Series_Appointments</name>
        <label>Update Last In Series Appointments</label>
        <locationX>789</locationX>
        <locationY>482</locationY>
        <inputReference>getLastInSeriesList</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Yesterday_s_Service_Appointments</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>clonedAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cloneServiceAppointmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>getLastInSeriesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
